//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Roboto", sans-serif;
$fontfamilyAdd: "Montserrat", sans-serif;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1280;
$md1: $mw + 15;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	font-family: $fontfamily;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
$braun: #433733;
$green: #7b824d;
$bg_main: #fcf8f1;
$bg_header: #c6b5a4;
$bg_footer: #594740;
//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	@include flexbox;
	flex-direction: column;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
// @import "popup.scss";
@import "header.scss";
@import "footer.scss";
// @import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
main {
	flex: 1 0 auto;
	background: $bg_main;
}
.main-screen {
	padding: 100px 0 50px;
	// .main-screen__body
	&__body {
		@include flexbox;
	}
	// .main-screen__image
	&__image {
		flex: 1 0 50%;
	}
	// .main-screen__text
	&__text {
		padding: 0 0 0 50px;
		p {
			font-size: 18px;
			line-height: 22px;
			margin: 0 0 20px;
			font-family: $fontfamilyAdd;
			font-weight: 700;
			text-align: center;
		}
	}
	// .main-screen__title
	&__title {
		font-family: $fontfamilyAdd;
		font-size: 30px;
		color: $braun;
		margin: 0 0 30px;
		text-align: center;
	}
	&__title_md3,
	&__location_md3 {
		display: none;
	}
	&__location,
	&__location_md3 {
		font-family: $fontfamilyAdd;
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
		margin: 0 0 35px;
		// color: $green;
		color: #bc0000;
		text-align: center;
		text-transform: uppercase;
	}
	// .main-screen__subtitle
	&__subtitle {
		font-size: 20px;
		font-weight: 700;
		margin: 0 0 20px;
	}
	// .main-screen__list
	&__list {
		li {
			font-size: 18px;
			line-height: 22px;
			margin: 0 0 20px;
			padding: 0 0 0 30px;
			text-align: justify;
			background: url(../img/icons/tick.png) 0 0 / 20px no-repeat;
		}
	}
	@media (max-width: $md2+px) {
		padding: 70px 0;
		&__text {
			padding: 0 0 0 30px;
		}
	}
	@media (max-width: $md3+px) {
		padding: 40px 0;
		&__body {
			flex-direction: column;
		}
		&__image {
			flex: 1 0 400px;
			margin: 0 0 30px;
		}
		&__text {
			padding: 0 0 0 0;
		}
		&__title,
		&__location {
			display: none;
		}
		&__title_md3 {
			display: block;
			font-family: $fontfamilyAdd;
			color: $braun;
			font-size: 22px;
			line-height: 26px;
			font-weight: 600;
			margin: 0 0 20px;
			text-align: center;
		}
		&__location_md3 {
			display: block;
			font-size: 16px;
			margin: 0 0 10px;
		}
		&__subtitle {
			font-size: 18px;
			font-weight: 600;
		}
	}
}

//====================================================================================================
.map {
	padding: 50px 0 100px;
	background: #fff;
	// .map__body
	&__body {
		@include flexbox;
	}
	// .map__list
	&__list {
		li {
			font-family: $fontfamilyAdd;
			font-size: 18px;
			line-height: 20px;
			margin: 0 0 20px;
			// color: $green;
			color: #000;
			font-weight: 600;
			background: url(../img/icons/exc.ico) 0 0 no-repeat;
			padding: 0 0 0 20px;
		}
	}
	&__text {
		flex: 1 0 50%;
		padding: 40px 50px 0 0;
	}
	&__adv {
		font-family: $fontfamilyAdd;
		font-size: 20px;
		line-height: 24px;
		margin: 0 0 35px;
		// color: $green;
		color: #bc0000;
		font-weight: 600;
		text-align: center;
		&:last-of-type {
			margin: 0;
		}
	}
	&__image {
		flex: 1 0 50%;
	}
	@media (max-width: $md2+px) {
		padding: 30px 0 70px;
	}
	@media (max-width: $md3+px) {
		padding: 20px 0 40px;
		&__body {
			flex-direction: column;
		}
		iframe {
			width: 100%;
		}
		&__text {
			padding: 15px 0 0;
		}
		&__list {
		}
		li {
			font-size: 16px;
			line-height: 20px;
			margin: 0 0 20px;
			// color: $green;
		}
		&__adv {
			margin: 0 0 20px;
			&:last-of-type {
				margin: 0 0 20px;
			}
		}
	}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
